/*
Name: LightningBolt
Version: 1.0
Author: Denis Samardjiev
*/


/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Typography
	=Buttons
	=Navigation
	=Hero Unit
	=Page Title
	=Call to Action
	=Summary
	=Portfolio
	=About
	=Quote
	=Team
	=Services
	=Contact
	=Footer
	=Media Queries
*/

/* =Common Styles
-------------------------------------------------------------- */
body {
	background:#fff;
	font: normal 18px "Open Sans", arial, sans-serif;
	font-weight: 300;
	color: #545454;
	height: 100% !important;
	line-height: 30px;
}

html {
	height: 100% !important;
}

textarea {
	resize: none
}

body a {
	color: #969696;
}

body a:hover {
	color: #000;
	text-decoration: none;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}
.tec{
    /*margin: 0 auto;*/
    width:75px;
    height: 75px;
}

.container {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;   
}

.no-margin { margin:0 !important; }
.row { margin: 0; }
a:active,a:focus { outline: none; }
.center-vertically { display:table-cell; text-align:center; vertical-align:middle; }
.no-padding { padding: 0 !important; }

/* =Typography
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	color: #272727;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.17em;
	margin: 0 0 20px;
}

h1 {
	font-size: 3.5em;
	text-transform: uppercase;
}

h2 {
	font-size: 2.4em;
	text-transform: uppercase;
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
}

h4 {
	font-size: 1.8em;
	text-transform: uppercase;
}

h5 {
	font-size: 21px;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
	text-transform: uppercase;
}

/* =Buttons
-------------------------------------------------------------- */
.bolt-button-send {
	border-radius: 0;
	border: 2px solid #272727;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
}

.bolt-button-send:hover, .bolt-button-send:focus {
	background-color: #272727;
	border-color: #272727;
	color: #fff;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.bolt-button-dark {
	border-radius: 0;
	border: 2px solid #272727;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 15px;
	background-color: transparent;
	padding: 12px 30px 12px 30px;
}

.bolt-button-dark:hover, .bolt-button-dark:focus {
	background-color: #272727;
	border-color: #272727;
	color: #fff;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.bolt-button-light {
	border-radius: 0;
	border: 2px solid #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 15px;
	background-color: transparent;
	padding: 12px 30px 12px 30px;
}

.bolt-button-light:hover, .bolt-button-light:focus {
	background-color: #fff;
	border-color: #fff;
	color: #272727;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

/* =Navigation
-------------------------------------------------------------- */
.navbar {
	border-radius: 0;
	border: 0;
	height: 100px;
	background-color: #272727;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 700;
	margin: 0; 
	z-index: 1;
}

.navbar-header {
	height: 100px;
}

.navbar ul.nav a { 
	color: #686868;
	height: 50px;
	background: transparent;
}

ul.nav a:hover { 
	color: #fff;
	background-color: inherit;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.nav li.active a {
    color: #fff;
}

.navbar .nav li.active:after { 
    content: "\f1ac";
    font-family: Ionicons;
    font-size: 32px;
    text-align: center;
    color: #fff;
}

.navbar-nav li a {
    line-height: 100px;
    padding-top: 0;
}

.navbar-collapse {
	text-align: center;
	height: 320px;
	background-color: #272727;
}

.navbar-toggle {
	color: #fff;
	border: 2px solid #fff;
	padding: 5px 10px 0 10px;
	border-radius: 0;
	margin-top: 30px;
}

.toggle-icon {
	font-size: 18px;
	line-height: 0 !important;
}

.navbar-toggle, .btn:focus {
	outline: none !important;
}

.logo-icon {
	font-size: 42px;
	color: #fff;
	line-height: 1.69 !important;
}

/* =Hero Unit
-------------------------------------------------------------- */
.hero {
	width: 100%;
	color: #fff;
	background-image: url(../img/slider/slide3.jpg);
	margin: 0;
	display: table;
	height: 100%;
}

.ticker {
	overflow: hidden;
	height: 40px;
	vertical-align: baseline;
}

.ticker h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 0px;
	height: 40px;
	-webkit-transition: margin-top 0.5s ease-in-out;
	-moz-transition: margin-top 0.5s ease-in-out;
	-o-transition: margin-top 0.5s ease-in-out;
	transition: margin-top 0.5s ease-in-out;
}

.hero hr {
    color: #fff;
    background: #fff;
}

/* =Page Title
-------------------------------------------------------------- */
.page-title-2 {
	padding-bottom: 20px;
	text-align: center;
	font-weight: 400;
}

.page-title {
	padding-bottom: 70px;
	text-align: center;
	font-weight: 400;
}

hr {
    height: 3px;
    width: 50px;
    color: #d8d8d8;
    background: #d8d8d8;
    font-size: 0;
    border: 0;
}

/* =Call to Action
-------------------------------------------------------------- */
.cta { padding:50px 0 50px 0; background-color:#d1d1d1; text-align:center; }

.cta p {
	color: #fff;
	font-weight: 300;
	font-size: 21px;
	margin: 6px 0 6px 0;
}

.bolt-button-cta {
	border-radius: 0;
	border: 2px solid #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	background-color: transparent;
	padding: 12px 30px 12px 30px;
	margin: 0 30px 0 30px;
}

.bolt-button-cta:hover, .bolt-button-cta:focus {
	background-color: #fff;
	border-color: #fff;
	color: #272727;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

/* =Summary
-------------------------------------------------------------- */
.summary { padding: 120px 0 120px 0; background-color: #f1f1f1; text-align: center; }

/* =Portfolio
-------------------------------------------------------------- */
.portfolio { padding: 120px 0 120px 0; }

#myPortfolio .item {
  display: none;
  opacity: 0;
}

.nav-pills {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 50px;
	font-weight: 300;
	display: inline-block; 
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: transparent;
	color: #272727;
}

.portfolio ul.nav a {
	color: #bdbdbd;
	border-radius: 0;
}

.portfolio ul.nav a:hover {
	color: #272727;
}

.nav-pills {
    text-align: center;
}

.nav-pills > li {
    float: none;
    display: inline-block;
    padding: 0 15px 0 15px;
   	cursor: pointer;
}

.portfolio ul li {
	list-style-type: none;
}

.portfolio ul li:hover span.portfolio-hover {
	opacity: 1;
}

.portfolio img {
	max-width: 100%;
	width: 100%;
	height: 100% !important;
}

span.portfolio-hover {
	background: rgba(39,39,39,0.95);
	color: #8e8e8e;
	width: 100%;
	height: 100%;
	text-align: center;
	font: 0/0 a;
	left: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

span.portfolio-hover:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

span.portfolio-hover span {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font: normal 18px "Open Sans", arial, sans-serif;
	font-weight: 300;
}

.portfolio-title {
	font-size: 18px;
	text-transform: none;
	color: #fff;
	margin: 0 0 5px !important;
}

.portfolio-category {
	font-size: 14px;
}

.modal {
	padding-top: 5%;
}

.modal-backdrop.in {
	opacity: .9;
}

.modal-content {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal button.close {
	border: 2px solid #272727;
	padding: 5px 5px 5px 5px;
	box-shadow: none;
	-webkit-box-shadow: none;
	display: inline-block;
	float: none;
	margin: 45px 0 20px 0;
}

.modal button.close:hover {
	background-color: #272727;
	border: 2px solid #272727;
	opacity: 1;
	color: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.close {
	opacity: .9;
	border: 2px solid #272727;
	padding: 5px 5px 5px 5px;
}

.modal img {
	width: 100%;
	padding-bottom: 30px;
}

.subtitle {
	text-align: center;
	padding-bottom: 30px;
	color: #272727;
}

.project-description {
	font-size: 16px;
	color: #545454;
}

.modal h4 {
	text-transform: none;
	padding: 30px 0 5px 0;
	text-align: center;
}

/* =About
-------------------------------------------------------------- */
.about { padding:120px 0 120px 0; background-color:#f1f1f1; }

.about h5{
	padding-top: 25px;
}

/* =Quote
-------------------------------------------------------------- */
.quote { padding:70px 0 70px 0; background-image:url(../img/quote/bg.jpg); color:#fff; text-align:center; }

.quote-content {
	font-size: 14px;
}

.bolt-quote-name {
	border-radius: 0;
	color: #fff;
	border: 2px solid #fff;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 15px;
	background-color: transparent;
	padding: 12px 30px 12px 30px;
}

.bolt-quote-name:hover, .bolt-quote-name:focus {
	background-color: #fff;
	border-color: #fff;
	color: #272727;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}


/* =Team
-------------------------------------------------------------- */
.team { padding:120px 0 120px 0; }

.team img {
	width: 100%;
	height: 100%;
}

.team-member-holder {
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: inline-block;
}

#content-holder:hover > .team-member-holder:not(:hover) {
    opacity: 0.7;
}

#content-holder {
	text-align: center;
}

.team-job {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #a5a5a5;
	padding-bottom: 20px;
	margin: 0;
	line-height: 1.4;
}

.team-name {
	font: normal 18px "Open Sans", arial, sans-serif;
	font-weight: 300;
	color: #272727;
	text-transform: none;
	padding-top: 20px;
	line-height: 1.4;
	margin: 0;
}

.team-info-holder {
	background-color: #f1f1f1;
	text-align: center;
}

.team-about {
	font-size: 14px;
	color: #828181;
	text-align: center;
	padding: 25px 25px 0 25px;
}

.social-icon { 
	font-size: 11px; 
	color: #272727; 
	display: block !important; 
	text-align: center !important; 
	line-height: 26px !important; 
}

.social-icon-holder {
	border: 2px solid #272727;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display:inline-block;
}

.social-icon-holder:hover {
	background-color: #272727;
}

.social-icon-holder:hover .social-icon {
	color: #fff;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

/* =Services
-------------------------------------------------------------- */
.services { padding:120px 0 120px 0; background-color: #f1f1f1; }

.services-icon-holder {
	border: 2px solid #272727;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin-bottom: 40px;
}

.services-icon-holder:hover {
	background-color: #272727;
	cursor: pointer;
}

.services-icon {
	font-size: 28px;
	color: #272727;
	line-height: 2.2 !important;
	padding-bottom: 15px;
}

.services-icon-holder:hover .services-icon {
	color: #f1f1f1;
	cursor: pointer;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.services .nav > li.active > a .services-icon-holder {
   background-color: #272727;
   cursor: pointer;
}

.services .nav > li.active > a .services-icon {
   color: #fff;
   cursor: pointer;
}

.services .nav li.active:after { 
    content: "\f155";
    font-family: Ionicons;
    font-style: normal;
    margin-top: 15px;
    font-size: 28px;
    font-weight: normal;
    text-decoration: inherit;
	display: inline-block;
}

.services .nav-tabs {
	border-bottom: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}

.services .nav > li > a {
	border: none;
	color: #272727;
	padding: 25px 10px 20px 10px;
	outline: none ! important;
}

.services .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: transparent;
	border: none;
	border-bottom: none;
	color: #272727;
}

.services .tab-pane {
	text-align: center;
	padding-top: 25px;
}

.fade {
   opacity: 0;
   -webkit-transition: opacity .65s linear;
      -moz-transition: opacity .65s linear;
       -ms-transition: opacity .65s linear;
        -o-transition: opacity .65s linear;
           transition: opacity .65s linear;
 }

/* =Contact
-------------------------------------------------------------- */
.contact { padding:120px 0 120px 0; }

.contact-info {
	text-align: center;
	font-size: 14px;
	padding-bottom: 70px;
}

.contact-info-email {
	text-align: center;
	font-size: 14px;
	padding-bottom: 70px;
}

.form-control {
	transition: 0;
	-webkit-transition: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: solid 2px #dadada !important;
	font-size: 12px;
	color: #a9a9a9;
	line-height: 2;
	height: 45px;
}

textarea.form-control {
	height: 165px;
	line-height: 20px;
}

.form-control:focus, .form-control:focus + span .btn{
    border-color:#dadada;
    box-shadow:none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    color: #272727;
}

.form-control-message {
	padding: 10px 15px 28px 15px;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	background-color: grey;
	padding: 40px 0 40px 0;
	border-top: 1px solid #dadada;
}

.copyright {
	font-size: 14px;
	font-weight: 400;
}

.up-icon {
	font-size: 21px;
	text-align: center;
	color: #272727;
	cursor: pointer;
}

.made-with-love {
	font-size: 12px;
	color: #a6a6a6;
	text-align: right;
}

.heart-icon {
	color: #f84e4e;
}

/* =Media Queries
-------------------------------------------------------------- */

/* Phones and down */
@media (max-width: 480px) {
    .summary { padding:70px 0 70px 0; }
    .portfolio { padding:70px 0 0 0; }
    span.portfolio-hover { display:none; }
    .cta { padding:25px 0 25px 0 }
    .cta p { font-size:18px; }
    .about { padding:70px 0 70px 0 !important; }
    .team { padding:70px 0 70px 0; }
    .team .page-title { padding-bottom:25px; }
    .services { padding:70px 0 70px 0; }
    .services-icon-holder { width:60px; height:60px; margin-bottom:10px; }
    .services-icon { font-size:26px; line-height:2.1 !important; padding-bottom: 7px; }
    .services .tab-pane { padding-top:25px !important; }
    .contact { padding: 70px 0 70px 0; }
    .contact .page-title { padding-bottom: 15px; }
    .contact-info-email { padding-bottom: 25px; }
    .page-title-2 { padding-bottom: 0; }
}

/* Landscape phones and portrait tablets */
@media (max-width:767px) {
	.logo-icon-holder { width:30px; height:30px; }
	.hero { background-size:cover; background-position:top center!important; }
	.navbar { height:60px; }
	.navbar-header { height:60px }
	.navbar-nav li a { line-height:60px; }
	.navbar ul.nav a { color: #686868; height: 35px; }
    .navbar-collapse { height:250px !important; } 
    .navbar-toggle { background-color: transparent; border:0; padding:13px 0 0 0; border-radius:0; margin-top:0; }
    .navbar-brand { margin-top: 1px;padding: 14px 15px; }
    .logo-icon { font-size:21px; line-height: 1.40 !important; }
    .toggle-icon { font-size:18px; line-height:2 !important; }
	.navbar .nav li.active:after { display:none; }
	.portfolio { padding-bottom:15px; }
	.cta p { margin: 15px 0 15px 0; }
	.team img { max-width:350px; max-height:350px; }
	.team-info-holder { max-width:350px; }
	.team-about { max-width:350px; padding:25px 25px 25px 25px; }
	.services .nav-tabs > li, .nav-pills > li { float:none; display:inline-block; }
	.services .nav-tabs, .nav-pills { text-align:center; }
	.services .tab-pane { padding-top: 0; }
	.services .nav li.active:after { display: none; }
	.contact-info { padding-bottom:2px; }
	.copyright { text-align: center; }
	.made-with-love { text-align: center; }
}

/* Portrait tablets and small desktops */
@media (min-width:768px) {
	.portfolio { padding-bottom:25px; }
	.cta p { margin:25px 0 25px 0; }
	.contact-info { padding-bottom:2px; }
}

/* Portrait tablets and medium desktops */
@media (min-width:992px) {
	.portfolio { padding:120px 0 120px 0; }
	.cta p { margin:25px 0 25px 0; }
	.contact-info { padding-bottom:70px; }
}

/* Large desktops and laptops */
@media (min-width:1200px) {
	.cta p { margin:6px 0 6px 0; } .contact-info { padding-bottom: 70px; }
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.centeredImage
{
    text-align:center;
    display:block;
}