<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
        <div class="col-lg-12 text-center">
            <button type="button" class="close modal-close-button text-center" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <h4>MDR Creations</h4>
        <hr>
        <p class="subtitle">E-Shop</p>
        <img src="img/marta_home3.jpg">
        <h3 style="text-align: center">COOMING SOON!</h3>
        </div>            <!-- /modal-body -->
    </div>         <!-- /modal-content -->
</div>     <!-- /modal-dialog -->