<script type="text/ng-template" id="rncLogo.html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close modal-close-button text-center" ng-click="cancel()" aria-hidden="true">&times;</button>
                </div>
                <h4>Roman Numbers Converter</h4>
                <hr>
                <p class="subtitle">Android</p>
                <img src="img/nbr.png">
                <p class="project-description">Quante volte vi siete trovati a dovere decifrare un numero romano? Ora c'è l'app che lo fai per voi. Con una interfaccia comoda ed intuitiva convertire un numero romano in un numero arabo (1,2,3,4..) sarà semplicissimo. Insersci il numero romano nell'apposito campo e automaticamente sarà convertito nel corrispondente numero arabo.
                    Se vuuoi sapere a quale numero romano corrisponde un determinato numero arabo ti basterà fare il contrario: è semplicissimo!</p>
                <p style="text-align: center;"class="project-description"><a href="https://play.google.com/store/apps/details?id=com.ionicframework.convertromannumber646047&hl=it" target="_blank">
                    <img style="width: 200px;" src="img/android_app.png"></a></p>
            </div>            <!-- /modal-body -->
        </div>         <!-- /modal-content -->
    </div>
</script>