<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
        <div class="col-lg-12 text-center">
            <button type="button" class="close modal-close-button text-center" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <h4>Secure Notes</h4>
        <hr>
        <p class="subtitle">Android</p>
        <img src="img/bs.png">
        <p class="project-description">Non riesci a ricordati tutte le tue password? Secure notes lo fa' per te. Salva in modo del tutto sicuro le tue note,
        		 in modo tale che solamente tu, attraverso una password, potrai accedere alle tue informazioni sensibili in modo protetto.</p>
        <p style="text-align: center;"class="project-description"><a href="https://play.google.com/store/apps/details?id=com.baraccasoftware.securenotes.app" target="_blank">
        	<img style="width: 200px;" src="img/android_app.png"></a></p>
        </div>            <!-- /modal-body -->
    </div>         <!-- /modal-content -->
</div>     <!-- /modal-dialog -->