<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
        <div class="col-lg-12 text-center">
            <button type="button" class="close modal-close-button text-center" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <h4>SwipeSms</h4>
        <hr>
        <p class="subtitle">Android</p>
        <p style="text-align: center"><img style="width: 300px;text-align: center" src="img/swipe_logo.png"></p>
        <h3 style="text-align: center">COOMING SOON!</h3>
        <p class="project-description">Una nuova applicazione per mandare SMS con un semplice swipe! Entra nella comunity degli sviluppatori!</p>
        
        <p style="text-align: center" class="project-description"><a href="https://plus.google.com/u/0/communities/115922825101949156884" target="_blank">
        	<img src="img/comunity_logo.png" style="width: 80px;"></img></a>
        	</p>
        </div>            <!-- /modal-body -->
    </div>         <!-- /modal-content -->
</div>     <!-- /modal-dialog -->